In [1]:
import pandas as pd

In [7]:
df = pd.read_csv("../../Old Data/Updated Weather Data.csv", index_col=0, parse_dates=True)

In [8]:
print(df)

            Total Rainfall  Rainfall Anomaly  Temperature Anomaly
Date
1900-01-01           53.59            -26.67                  NaN
1900-02-01           25.42            -51.57                  NaN
1900-03-01           69.86              6.87                  NaN
1900-04-01           42.40             11.88                  NaN
1900-05-01           34.18              5.13                  NaN
...                    ...               ...                  ...
2023-08-01            9.40             -9.20                 2.29
2023-09-01             NaN               NaN                  NaN
2023-10-01             NaN               NaN                  NaN
2023-11-01             NaN               NaN                  NaN
2023-12-01             NaN               NaN                  NaN

[1488 rows x 3 columns]

In [12]:
new_df = df.resample("Q").sum()
new_df["Temperature Anomaly"] = df["Temperature Anomaly"].resample("Q").mean()

In [13]:
new_df

            Total Rainfall  Rainfall Anomaly  Temperature Anomaly
Date
1900-03-31          148.87            -71.37                  NaN
1900-06-30          108.97             26.83                  NaN
1900-09-30           65.22              7.95                  NaN
1900-12-31           52.94            -53.45                  NaN
1901-03-31          224.15              3.91                  NaN
...                    ...               ...                  ...
2022-12-31          195.19             88.80            -0.390000
2023-03-31          257.36             37.12             0.510000
2023-06-30           78.70             -3.44             0.013333
2023-09-30           32.02             -8.73             1.740000
2023-12-31            0.00              0.00                  NaN

[496 rows x 3 columns]